{
	"name": "Prometheus",
	"type": "prometheus",
	"url": "https://{{monitoring_proxy.domain + prometheus.subpath}}",
	"access": "proxy",
	"basicAuth": true,
	"basicAuthUser": "prometheus",
	"secureJsonData": {
		"basicAuthPassword": "{{ prometheus.admin_password }}"
	},
	"jsonData": {
		"tlsSkipVerify": true
	}
}
